{% macro absence_modal() %}

<div class="modal fade" id="newAbsenceModal" tabindex="-1" aria-labelledby="newAbsenceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newAbsenceModalLabel">Neuer Fehlzeit-Eintrag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="absenceReason" class="form-label">Art der Fehlzeit</label>
                    <input type="text" class="form-control" id="absenceReason">
                </div>
                <div class="mb-3">
                    <label for="absenceDate" class="form-label">Datum</label>
                    <input type="date" class="form-control" id="absenceDate">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary" id="saveNewAbsence">Speichern</button>
            </div>
        </div>
    </div>
</div>

{% endmacro absence_modal %}